{# Define the site footer #}
<div class="footer">
  <div class="content" data-eq--content>
    <div class="footer content__primary">
      <div class="footer-navigation">
        <div class="footer-navigation__menu">
          <ul class="footer-navigation__list inline-list" role="navigation">
            <li class="footer-navigation__list-item">
              <a class="footer-navigation__menu-link" href="{{ craft.app.config.general.aliases.baseUrl }}/minutes">Minutes</a>
            </li>
            <li class="footer-navigation__list-item">
              <a class="footer-navigation__menu-link" href="{{ craft.app.config.general.aliases.baseUrl }}/bylaws">Bylaws</a>
            </li>
            <li class="footer-navigation__list-item">
              <a class="footer-navigation__menu-link" href="//wiki.outworlders.org">Wiki</a>
            </li>
            <li class="footer-navigation__list-item">
              <a class="footer-navigation__menu-link" href="{{ craft.app.config.general.aliases.baseUrl }}/policies/privacy">Privacy Policy</a>
            </li>
            <li class="footer-navigation__list-item">
              <a class="footer-navigation__menu-link" href="{{ craft.app.config.general.aliases.baseUrl }}/policies/anti-harassment">Anti-Harassment Policy</a>
            </li>
          </ul>
        </div>
      </div>
      <p class="copyright">&copy;2019 OutWorlders, Inc. OutWorlders is a 501(c)7 tax exempt organization. Your contribution is not tax deductible.</p>
      <button style="background: white; width: 165px; height: 30px; border-radius: 3px; border: 1px solid #5f7d9c; font-family: Roboto, Arial; font-size: 10px; color: #5f7d9c; font-weight: 600; box-sizing: border-box; cursor: pointer; padding: 0; outline: none; display: block; margin: 1rem auto 0;" onclick="displayPreferenceModal()">Manage Cookie Preferences</button>
    </div>
  </div>
</div>
