/*
Typography

Styleguide 1.0.0
*/

/*
Typography Wrapper

Ignore this sub-section, it's here just to help keep this part of the styleguide
consistent

markup:
<div class="card--dark" style="background: #250f2c; padding: 2em 1em; margin: -2em -1em 0;">
  <sg-wrapper-content/>
</div>
<div class="card--light" style="background: #fff; padding: 1em; margin: 0 -1em -2em;">
  <sg-wrapper-content/>
</div>

Styleguide 9.1
*/

//////////////////////////////////////////////////////////////////////////////// Headings

/*
Headings

This section contains all the styles for headings.

Styleguide 1.1
*/

/*
H1

markup:
<h1>I may be dead, but I’m still pretty</h1>

sg-wrapper:
<sg-insert>9.1</sg-insert>

Styleguide 1.1.1
*/

h1,
.h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

/*
H2

markup:
<h2>If the apocalypse comes, beep me</h2>

sg-wrapper:
<sg-insert>9.1</sg-insert>

Styleguide 1.1.2
*/

h2,
.h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

/*
H3

markup:
<h3>The Earth is doomed</h3>

sg-wrapper:
<sg-insert>9.1</sg-insert>

Styleguide 1.1.3
*/

h3,
.h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

/*
H4

markup:
<h4>Seize the moment, 'cause tomorrow you might be dead.</h4>

sg-wrapper:
<sg-insert>9.1</sg-insert>

Styleguide 1.1.4
*/

h4,
.h4 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}


//////////////////////////////////////////////////////////////////////////////// Paragraphs

/*
Paragraphs

This section contains all the styles for paragraphs.

Styleguide 1.2.0
*/

/*
Paragraphs

markup:
<p>You’re not friends. You’ll never be friends. Love isn’t brains, children, it’s blood. Blood screaming inside you to work its will. I may be love’s bitch, but at least I’m man enough to admit it.</p>
<p>Strong is fighting. It’s hard and it’s painful and it’s every day. It’s what we have to do, and we can do it together, but if you’re too much of a coward for that, then burn.</p>

sg-wrapper:
<sg-insert>9.1</sg-insert>

Styleguide 1.2.1
*/

p,
div,
span {
  font-weight: 400;
  margin: 0;
  line-height: 1.25;
}

p + p {
  margin-top: 1rem;
}

/*
Small-Set Paragraphs

markup:
<p class="small">You’re not friends. You’ll never be friends. Love isn’t brains, children, it’s blood. Blood screaming inside you to work its will. I may be love’s bitch, but at least I’m man enough to admit it.</p>
<p class="small">Strong is fighting. It’s hard and it’s painful and it’s every day. It’s what we have to do, and we can do it together, but if you’re too much of a coward for that, then burn.</p>

sg-wrapper:
<sg-insert>9.1</sg-insert>

Styleguide 1.2.2
*/

.small,
p.small,
span.small {
  font-size: 14px;
}

/*
Links

markup:
<p>I’m beyond tired. I’m beyond scared. I’m standing on the <a class="inline-link" href>mouth of hell</a>, and it’s gonna swallow me whole. And it’ll choke on me. We’re not ready? They’re not ready.</p>

sg-wrapper:
<sg-insert>9.1</sg-insert>

Styleguide 1.3.0
*/

p > a,
.inline-link {
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: rgba($teal, .6);
  }
}

.card--dark p > a,
.card--dark .inline-link { color: $teal-onDark; }
.card--light p > a,
.card--light .inline-link { color: $teal-onLight; }

/*
Action Link

markup:
<a class="action-link" href>More Info</a>

Styleguide 1.3.1
*/
.action-link {
  @extend .inline-link;

  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .1em;
  font-weight: 500;
}

/*
Button Link

markup:
<a class="button-link" href>Embrace the pain, spank your inner moppet, whatever, but get over it.</a>

Styleguide 1.3.2
*/

.button-link {
  background-color: #ccc;
  border: 1px solid #ddd;
  color: #000;

  border-radius: 5px;
  display: block;
  font-weight: 600;
  line-height: 2;
  text-align: center;
  text-decoration: none;
}

.button-link:hover {
  background-color: #ddd;
}

* + .button-link {
  margin-top: 1rem;
}

/*
Lists

Styleguide 1.4.0
*/

/*
Unordered Lists

markup:
<ul>
  <li><strong>We're Slayers, <em>girlfriend</em></strong>. <em><strong><u>The</u></strong> Chosen two</em>. Why should we let him take all the fun out of it?</li>
  <li>Life for a Slayer is very simple
    <ul>
      <li>Want</li>
      <li>Take</li>
      <li>Have</li>
    </ul>
  </li>
</ul>

sg-wrapper:
<sg-insert>9.1</sg-insert>

Styleguide 1.4.1
*/

ul {
  margin: 0;
}

li + li {
  margin-top: .25rem;
}

.inline-list li + li {
  margin-top: 0;
}

/*
Headings + Things

Styleguide 1.5.0
*/

/*
Body Copy - Headings + Headings

markup:
<div class="events__body-copy">
<sg-insert>1.1.1</sg-insert>
<sg-insert>1.1.2</sg-insert>
<sg-insert>1.1.3</sg-insert>
<sg-insert>1.1.4</sg-insert>
</div>

sg-wrapper:
<sg-insert>9.1</sg-insert>

Styleguide 1.5.1
*/

.events__body-copy h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

.events__body-copy h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.events__body-copy h1,
.events__body-copy h2,
.events__body-copy h3,
.events__body-copy h4,
.events__body-copy h5,
.events__body-copy h6 {
  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin-top: .5rem;
  }
}

/*
Body Copy - Headings + UL

markup:
<div class="events__body-copy">
<sg-insert>1.1.1</sg-insert>
<sg-insert>1.4.1</sg-insert>
<sg-insert>1.1.2</sg-insert>
<sg-insert>1.4.1</sg-insert>
<sg-insert>1.1.3</sg-insert>
<sg-insert>1.4.1</sg-insert>
<sg-insert>1.1.4</sg-insert>
<sg-insert>1.4.1</sg-insert>
</div>

sg-wrapper:
<sg-insert>9.1</sg-insert>

Styleguide 1.5.2
*/

.events__body-copy ul + h1,
.events__body-copy ul + h2,
.events__body-copy ul + h3,
.events__body-copy ul + h4,
.events__body-copy ul + h5,
.events__body-copy ul + h6 {
  margin-top: 1.5rem;
}

.events__body-copy h1 + ul,
.events__body-copy h2 + ul,
.events__body-copy h3 + ul,
.events__body-copy h4 + ul,
.events__body-copy h5 + ul,
.events__body-copy h6 + ul {
  margin-top: .255rem;
}
