/*
Card Base

Styleguide 2.1

*/

%color-text--blue   { color: $blue; }
%color-text--orange { color: $orange; }
%color-text--pink   { color: $pink; }
%color-text--purple { color: $purple; }
%color-text--teal   { color: $teal; }

%color-text--blue-onDark    { color: $blue-onDark; }
%color-text--blue-onLight   { color: $blue-onLight; }
%color-text--orange-onDark  { color: $orange-onDark; }
%color-text--orange-onLight { color: $orange-onLight; }
%color-text--pink-onDark    { color: $pink-onDark; }
%color-text--pink-onLight   { color: $pink-onLight; }
%color-text--purple-onDark  { color: $purple-onDark; }
%color-text--purple-onLight { color: $purple-onLight; }
%color-text--teal-onDark    { color: $teal-onDark; }
%color-text--teal-onLight   { color: $teal-onLight; }

/*
Card States

markup:
<div class="{$modifiers}">
  <sg-insert>9.2</sg-insert>
</div>

.card.card--dark - A dark card.
.card.card--light - A light card.

Styleguide 2.1.1
*/

.card {
  border-left: .5rem solid;
  color: $white;
}

.card__container {
  padding: 1rem;
}

.card--light { background-color: $white; color: $black; }
.card--dark { background-color: rgba($black, .7); }

//////////////////////////////////////////////////////////////////////////////// Card colors

/*
Colors

markup:
<div class="{$modifiers}">
  <sg-insert>9.2</sg-insert>
</div>

.card.card--dark.card--blue - A dark blue card.
.card.card--dark.card--orange - A dark orange card.
.card.card--dark.card--pink - A dark pink card.
.card.card--dark.card--purple - A dark purple card.
.card.card--dark.card--teal - A dark teal card.
.card.card--light.card--blue - A light blue card.
.card.card--light.card--orange - A light orange card.
.card.card--light.card--pink - A light pink card.
.card.card--light.card--purple - A light purple card.
.card.card--light.card--teal - A light teal card.

Styleguide 2.1.2
*/

.card--blue   { border-left-color: $blue; }
.card--orange { border-left-color: $orange; }
.card--pink   { border-left-color: $pink; }
.card--purple { border-left-color: $purple; }
.card--teal   { border-left-color: $teal; }

//////////////////////////////////////////////////////////////////////////////// Card tints

/*
Overlay Tints

markup:
<div class="{$modifiers}">
  <sg-insert>9.2</sg-insert>
</div>

.card.card--tinted.card--dark.card--blue - A dark blue card with an overlay tint.
.card.card--tinted.card--dark.card--orange - A dark orange card with an overlay tint.
.card.card--tinted.card--dark.card--pink - A dark pink card with an overlay tint.
.card.card--tinted.card--dark.card--purple - A dark purple card with an overlay tint.
.card.card--tinted.card--dark.card--teal - A dark teal card with an overlay tint.
.card.card--tinted.card--light.card--blue - A light blue card with an overlay tint.
.card.card--tinted.card--light.card--orange - A light orange card with an overlay tint.
.card.card--tinted.card--light.card--pink - A light pink card with an overlay tint.
.card.card--tinted.card--light.card--purple - A light purple card with an overlay tint.
.card.card--tinted.card--light.card--teal - A light teal card with an overlay tint.

Styleguide 2.1.3
*/

.card--tinted.card--blue .card__container {
  background-color: rgba($blue, .3);
}
.card--tinted.card--orange .card__container {
  background-color: rgba($orange, .3);
}
.card--tinted.card--pink .card__container {
  background-color: rgba($pink, .3);
}
.card--tinted.card--purple .card__container {
  background-color: rgba($purple, .3);
}
.card--tinted.card--teal .card__container {
  background-color: rgba($teal, .3);
}

//////////////////////////////////////////////////////////////////////////////// Card radials

/*
Radial Tints

markup:
<div class="{$modifiers}">
    <sg-insert>9.2</sg-insert>
</div>

.card.card--radial.card--dark.card--blue - A dark blue card with a radial tint.
.card.card--radial.card--dark.card--orange - A dark orange card with a radial tint.
.card.card--radial.card--dark.card--pink - A dark pink card with a radial tint.
.card.card--radial.card--dark.card--purple - A dark purple card with a radial tint.
.card.card--radial.card--dark.card--teal - A dark teal card with a radial tint.
.card.card--radial.card--light.card--blue - A light blue card with a radial tint.
.card.card--radial.card--light.card--orange - A light orange card with a radial tint.
.card.card--radial.card--light.card--pink - A light pink card with a radial tint.
.card.card--radial.card--light.card--purple - A light purple card with a radial tint.
.card.card--radial.card--light.card--teal - A light teal card with a radial tint.

Styleguide 2.1.4
*/

.card--radial.card--blue .card__container {
  background: radial-gradient(at top left, rgba($blue, .23) 0%, rgba($blue, 0) 45%);
}
.card--radial.card--orange .card__container {
  background: radial-gradient(at top left, rgba($orange, .23) 0%, rgba($orange, 0) 45%);
}
.card--radial.card--pink .card__container {
  background: radial-gradient(at top left, rgba($pink, .23) 0%, rgba($pink, 0) 45%);
}
.card--radial.card--purple .card__container {
  background: radial-gradient(at top left, rgba($purple, .23) 0%, rgba($purple, 0) 45%);
}
.card--radial.card--teal .card__container {
  background: radial-gradient(at top left, rgba($teal, .23) 0%, rgba($teal, 0) 45%);
}

/*
No Border

markup:
<div class="{$modifiers}">
  <sg-insert>9.2</sg-insert>
</div>

.card.card--dark.card--no-border - A card with no border.
.card.card--light.card--no-border - A card with no border.

Styleguide 2.1.5
*/

.card--no-border {
  @media(min-width: 500px) {
    border-left: 0;
  }
}
