$blue: #07379e;
$blue-onDark: #1e90ff;
$blue-onLight: $blue;

$orange: #fe521d;
$orange-onDark: #f9690e;
$orange-onLight: #d43900;

$pink: #eb0d47;
$pink-onDark: #fc6399;
$pink-onLight: $pink;

$purple: #420295;
$purple-onDark: #bf6ee0;
$purple-onLight: $purple;

$teal: #0fafa9;
$teal-onDark: $teal;
$teal-onLight: #008080;

$black: #250f2c;
$white: #fff;
