.http-error {
  font-size: 20px;
}

.http-error__status-code {
  font-weight: 500;
  color: $teal;
}

.planet.planet--glitch {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 994px;
  height: 678px;
  content: "";
  background-image: url("/assets/planet-404.png");
  background-size: 994px 678px;
  z-index: -1;
}
