/*
Card

markup:
<div class="{$modifiers}">
    <div class="card__container">
        <p>Seize the moment, ‘cause tomorrow you might be dead.</p>
    </div>
</div>

.card.card--dark.card--blue - A dark blue card.
.card.card--dark.card--orange - A dark orange card.
.card.card--dark.card--pink - A dark pink card.
.card.card--dark.card--purple - A dark purple card.
.card.card--dark.card--teal - A dark teal card.
.card.card--dark.card--radial.card--blue - A dark blue card with a radial tint.
.card.card--dark.card--radial.card--orange - A dark orange card with a radial tint.
.card.card--dark.card--radial.card--pink - A dark pink card with a radial tint.
.card.card--dark.card--radial.card--purple - A dark purple card with a radial tint.
.card.card--dark.card--radial.card--teal - A dark teal card with a radial tint.
.card.card--dark.card--tinted.card--blue - A dark blue card with an overlay tint.
.card.card--dark.card--tinted.card--orange - A dark orange card with an overlay tint.
.card.card--dark.card--tinted.card--pink - A dark pink card with an overlay tint.
.card.card--dark.card--tinted.card--purple - A dark purple card with an overlay tint.
.card.card--dark.card--tinted.card--teal - A dark teal card with an overlay tint.
.card.card--light.card--blue - A light blue card.
.card.card--light.card--orange - A light orange card.
.card.card--light.card--pink - A light pink card.
.card.card--light.card--purple - A light purple card.
.card.card--light.card--teal - A light teal card.
.card.card--light.card--radial.card--blue - A light blue card with a radial tint.
.card.card--light.card--radial.card--orange - A light orange card with a radial tint.
.card.card--light.card--radial.card--pink - A light pink card with a radial tint.
.card.card--light.card--radial.card--purple - A light purple card with a radial tint.
.card.card--light.card--radial.card--teal - A light teal card with a radial tint.
.card.card--light.card--tinted.card--blue - A light blue card with an overlay tint.
.card.card--light.card--tinted.card--orange - A light orange card with an overlay tint.
.card.card--light.card--tinted.card--pink - A light pink card with an overlay tint.
.card.card--light.card--tinted.card--purple - A light purple card with an overlay tint.
.card.card--light.card--tinted.card--teal - A light teal card with an overlay tint.
.card.card--dark.card--no-border - A card with no border.
.card.card--light.card--no-border - A card with no border.

Styleguide 1.0
*/

.card {
    border-left: .5rem solid;
    color: $white;
}

.card__container {
    padding: 1rem;
}

.card--light { background-color: $white; color: $black; }
.card--dark { background-color: rgba($black, .7); }

.card--no-border {
    @media(min-width: 500px) {
        border-left: 0;
    }
}

//////////////////////////////////////////////////////////////////////////////// Card colors

.card--blue { border-left-color: $blue; }
.card--orange { border-left-color: $orange; }
.card--pink { border-left-color: $pink; }
.card--purple { border-left-color: $purple; }
.card--teal { border-left-color: $teal; }

//////////////////////////////////////////////////////////////////////////////// Card tints

.card--tinted.card--blue .card__container {
    background-color: rgba($blue, .3);
}
.card--tinted.card--orange .card__container {
    background-color: rgba($orange, .3);
}
.card--tinted.card--pink .card__container {
    background-color: rgba($pink, .3);
}
.card--tinted.card--purple .card__container {
    background-color: rgba($purple, .3);
}
.card--tinted.card--teal .card__container {
    background-color: rgba($teal, .3);
}

//////////////////////////////////////////////////////////////////////////////// Card radials

.card--radial.card--blue .card__container {
    background: radial-gradient(at top left, rgba($blue, .23) 0%, rgba($blue, 0) 45%);
}
.card--radial.card--orange .card__container {
    background: radial-gradient(at top left, rgba($orange, .23) 0%, rgba($orange, 0) 45%);
}
.card--radial.card--pink .card__container {
    background: radial-gradient(at top left, rgba($pink, .23) 0%, rgba($pink, 0) 45%);
}
.card--radial.card--purple .card__container {
    background: radial-gradient(at top left, rgba($purple, .23) 0%, rgba($purple, 0) 45%);
}
.card--radial.card--teal .card__container {
    background: radial-gradient(at top left, rgba($teal, .23) 0%, rgba($teal, 0) 45%);
}
