{# Define the site footer #}
<div class="footer">
  <div class="content" data-eq--content>
    <div class="footer content__primary">
      <div class="footer-navigation">
        <div class="footer-navigation__menu">
          <ul class="footer-navigation__list inline-list" role="navigation">
            <li class="footer-navigation__list-item">
              <a class="footer-navigation__menu-link" href="{{ baseUrl }}/minutes">Minutes</a>
            </li>
            <li class="footer-navigation__list-item">
              <a class="footer-navigation__menu-link" href="//wiki.outworlders.org">Wiki</a>
            </li>
            <li class="footer-navigation__list-item">
              <a class="footer-navigation__menu-link" href="{{ baseUrl }}/privacy-policy">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
      <p class="copyright">&copy;2018 OutWorlders, Inc. OutWorlders is a 501(c)7 tax exempt organization. Your contribution is not tax deductible.</p>
    </div>
  </div>
</div>
