$navigation-breakpoint: 500px;

/*
Navigation

markup:
<div class="navigation">
    <div class="navigation__container">
        <sg-insert>3.1</sg-insert>
        <sg-insert>3.2.1-1</sg-insert>
        <div class="navigation__menu" aria-expanded="false">
            <sg-insert>3.2</sg-insert>
            <sg-insert>3.3</sg-insert>
        </div>
    </div>
</div>

Styleguide 3.0.0
*/

.navigation {
    background: $black;
    min-height: 50px;
    position: relative;
    padding: 0 .5rem;

    @media (min-width: 900px) {
       padding: 0 1rem;
   }

    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

.navigation__container {
    margin: 0 auto;
    max-width: 1200px;
}

.navigation__menu {
    transition: height .2s ease-in-out;
    overflow: hidden;

     @media (min-width: $navigation-breakpoint) {
        float: right;
        height: 100% !important;
        margin-top: 1rem;
    }
}

.navigation__menu[aria-expanded='false'] {
	height: 0;
}

.navigation__menu[aria-expanded='true'] {
	height: 162px;
}

.navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation__list--sections {
    @media (min-width: $navigation-breakpoint) {
        float: left;
    }
}

/*
Navigation Logo

markup:
<h1 class="navigation__logo">Atlanta Outworlders</h1>

sg-wrapper:
<div class="navigation">
    <sg-wrapper-content/>
</div>

Styleguide 3.1.0
*/

.navigation__logo {
    background-image: url('/assets/logo-navigation.png');
    background-repeat: no-repeat;
    background-size: 194px 37px;
    height: 47px;
    overflow: hidden;
    text-indent: 195px;
    width: 194px;

    @media (min-width: $navigation-breakpoint) {
        float: left;
    }
}


/*
Navigation Menu

markup:
<ul class="navigation__list navigation__list--sections" role="navigation">
    <sg-insert>3.2.2-2</sg-insert>
    <sg-insert>3.2.2-1</sg-insert>
    <sg-insert>3.2.2-1</sg-insert>
    <sg-insert>3.2.2-1</sg-insert>
</ul>

sg-wrapper:
<div class="navigation">
    <sg-wrapper-content/>
</div>

Styleguide 3.2.0
*/


/*
Navigation Toggle

.navigation__menu-toggle - Default navigation menu toggle
.navigation__menu-toggle.navigation__menu-toggle--close - Default navigation menu toggle

markup:
<button class="{$modifiers}"><i></i><span>Menu</span></button>

sg-wrapper:
<div class="navigation">
    <sg-wrapper-content/>
</div>
<i style="display: block; font-size: 10px; letter-spacing: .1em; opacity: .5; width: 50%;">Note: This item disappears at larger screen sizes</i>

Styleguide 3.2.1
*/

.navigation__menu-toggle {
    background: 0;
    border: 0;
    color: $white;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.125em;
    margin: 0 -.5rem;
    outline: 0;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    position: absolute;
    right: .5rem;
    text-transform: uppercase;
    top: 12px;

    @media (min-width: $navigation-breakpoint) {
        display: none;
    }
}

.navigation__menu-toggle i {
    &,
    &:after,
    &:before {
        position: relative;
        background-color: $white;
        display: block;
        height: 2px;
        width: 1rem;
        content: "";
    }
    top: 7px;
    left: -1.5rem;

    &:before {
        top: -4px;
    }

    &:after {
        bottom: -2px;
    }
}

.navigation__menu-toggle:hover i {
    &,
    &:after,
    &:before {
        background-color: $teal;
    }
}

.navigation__menu-toggle--close i,
.navigation__menu-toggle--close:hover i {
    background-color: rgba($white, 0);
}

.navigation__menu-toggle--close i {
    &:after,
    &:before {
        background-color: $pink;
    }

    &:before {
        transform: rotate(45deg);
        top: 0;
    }

    &:after {
        transform: rotate(-45deg);
        bottom: 2px;
    }
}

.navigation__menu-toggle--close:hover i {
    &:after,
    &:before {
        background-color: rgba($pink, .8);
    }
}


/*
Navigation Link

.navigation__list-item--sections - Default navigation menu item
.navigation__list-item--sections.navigation__list-item--active - Active navigation menu item

markup:
<li class="{$modifiers}"><a class="navigation__menu-link" href>Menu Link</a></li>

sg-wrapper:
<div class="navigation">
    <ul class="navigation__list">
        <sg-wrapper-content/>
    </ul>
</div>

Styleguide 3.2.2
*/

.navigation__list-item--sections {
    text-align: center;
    font-weight: 300;

    @media (min-width: $navigation-breakpoint) {
        float: left;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.1em;
    }
}

.navigation__list-item--sections.navigation__list-item--active {
    background-color: rgba($teal, .45);
    border: 1px solid $teal;
}

.navigation__menu-link {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0.5rem;

    &:hover {
        color: $teal;
    }
}


/*
Navigation Social

markup:
<ul class="navigation-list--social social-list inline-list">
    <li><sg-insert>5.1.1-1</sg-insert></li>
    <li><sg-insert>5.1.1-2</sg-insert></li>
    <li><sg-insert>5.1.1-3</sg-insert></li>
</ul>

sg-wrapper:
<div class="navigation">
    <sg-wrapper-content/>
</div>

Styleguide 3.3.0
*/

.navigation-list--social {
    border-top: 1px solid rgba($white, .2);
    margin: 1rem auto 0;
    width: 68px;

    &:after {
        clear: both;
        content: "";
        display: table;
    }

    @media (min-width: $navigation-breakpoint) {
        border: 0;
        float: right;
        margin: 5px 0 0 1rem;
    }
}

.navigation-list--social.social-list {
    padding: 1rem 0 0;

    @media (min-width: $navigation-breakpoint) {
        padding: 0;
    }
}
