{#
 # Anti_Harassment Policy index template
 # -------------------------------------
 #
 # This template is loaded whenever http://example.com/policies/anti-harassment is requested,
 # because it is located at contact/index.html in the public/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% set params = {
  url: 'https://wiki.outworlders.org/api.php?action=parse&format=json&disableeditsection&page=OutWorlders_Anti-Harassment_Policy',
  type: 'json',
  element: 'parse',
  cache: 60
} %}

{% set feed = craft.feedme.feed(params) %}

{% set pageTitle = "" %}
{% set pageContent = "" %}

{% for node in feed %}
  {% set pageTitle = node.title %}

  {% for node in node.text %}
    {% set pageContent = node %}
  {% endfor %}
{% endfor %}

{% extends "_layout" %}
{% set seomaticMeta = {
  seoTitle: "Anti-Harassment Policy",
  canonicalUrl: 'https://wiki.outworlders.org/index.php/OutWorlders_Anti-Harassment_Policy'
} %}


{% block content %}
  <div class="content" data-eq--content>
    <main class="content__primary [ card card--blue card--light ]">
      <article class="card__container">
        <div class="card__header">
          <h1>{{ pageTitle }}</h1>
        </div>
        <div class="dynamic-body-copy">
          {{ pageContent|raw }}
        </div>
      </article>
    </main>
    <aside class="content__secondary [ card card--purple card--light ]">
      <div class="card__container">
        <div class="card__header">
          <h2>File a report</h2>
        </div>
        <a class="button-link" href="https://www.cognitoforms.com/OutWorldersInc/OutWorldersAntiHarassmentReport" target="blank">File a Report</a>
      </div>
    </aside>
  </div>
{% endblock %}
